@import url("common.css");
@import url("accordian.css");
@import url("side_menu.css");
/* a.scroll-item {
  scroll-margin-top: 100px;
} */

ul {
  margin-left: 20;
}
li {
  margin-left: 20;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}